<!DOCTYPE html>
<html lang="ru_RU">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width-device-width; initial-scale=1.0">
        <title>Интерактивная карта выпускников</title> 
        <link rel="stylesheet" href="/src/css/style.css">
        <link rel="stylesheet" href="/src/css/reset.css">
    </head>
    <body>
        <div class="parent">
            <div class="child">
                <div class="return">
                    <img src="/src/image/arrow-left.svg" class="text-primary">
                    <a href="/src/components/recoveryPassword/RecoveryPassword.html" class="text-primary link">Вернуться</a>
                </div>
                <div>
                    <h1 class="text-primary autor">Восстановление пароля</h1>
                    <form class="info">
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="text-primary">Пароль</label>
                            <input type="password" class="form-control btn-b" id="exampleInputPassword1" required>
                        </div><div class="form-group">
                            <label for="exampleInputPassword1" class="text-primary">Повторите пароль</label>
                            <input type="password" class="form-control btn-b" id="exampleInputPassword1" required>
                         </div>
                        <button type="submit" class="btn-base">
                            <a href="/src/components/authorization/Autorization.html" class="text-primary mx-sm-3 link">Сменить пароль</a>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>