<!DOCTYPE html>
<html lang="ru_RU">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width-device-width; initial-scale=1.0">
        <title>Интерактивная карта выпускников</title> 
        <link rel="stylesheet" href="/src/css/style.css">
        <link rel="stylesheet" href="/src/css/reset.css">
    </head>
    <body>
        <div class="parent">
            <div class="child">
                <div class="return">
                    <img src="/src/image/arrow-left.svg" class="text-primary">
                    <a href="/src/components/authorization/autorization.html" class="text-primary link">Вернуться</a>
                </div>
                <div>
                    <h1 class="text-primary reg">Регистрация</h1>
                    <form class="info" id="add-form" action="">
                        <div class="form-group">
                            <label for="inputEmail " class="text-primary">Электронная почта</label>
                            <input data-required="true" type="email" class="form-controtext-primary btn-b" id="exampleFormControlInput1" >
                        </div>
                        <div class="form-group">
                            <label for="inputLastName" class="text-primary">Фамилия</label>
                            <input data-required="true" type="text" class="form-control btn-b" id="lastName" >
                        </div>
                        <div class="form-group">
                            <label for="inputFirstName" class="text-primary">Имя</label>
                            <input data-required="true" type="text" class="form-control btn-b" id="firstName" >
                        </div>
                        <div class="form-group">
                            <label for="inputSurename" class="text-primary">Отчество</label>
                            <input data-required="true" type="text" class="form-control btn-b" id="surename" >
                          </div>
                        <div class="form-group">
                          <label for="exampleFormControlSelect1" class="text-primary">Специальность</label>
                          <select class="form-control btn-b" id="exampleFormControlSelect1" >
                            <option>Информатика и вычислительная техника</option>
                            <option>Системный анализ и управление</option>
                            <option>Автоматизация технологических процессов и производств</option>
                            <option>Управление в технических системах</option>
                          </select>
                        </div>
                        <div class="form-group">
                            <label for="inputYear" class="text-primary">Год выпуска</label>
                            <input data-required="true" type="text" class="form-control btn-b" id="year" >
                          </div>
                        <div class="form-group">
                            <label for="inputAddress" class="text-primary">Адрес</label>
                            <input data-required="true" type="text" class="form-control btn-b" id="address" placeholder="Город, улица" >
                          </div>
                        <div class="form-group">
                            <label for="inputWork" class="text-primary">Работа</label>
                            <input data-required="true" type="text" class="form-control btn-b" id="work" >
                          </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="text-primary">Пароль</label>
                            <input data-min-length="6" type="password" class="form-control btn-b" id="exampleInputPassword1" >
                        </div><div class="form-group">
                            <label for="exampleInputPassword1" class="text-primary">Повторите пароль</label>
                            <input data-min-length="6" type="password" class="form-control btn-b" id="exampleInputPassword2" >
                         </div>
                        <button type="submit" class="btn-base text-primary">ЗАРЕГИСТРИРОВАТЬСЯ</button>
                    </form>
                </div>
            </div>
        </div>

        <script defer src="/src/js/validateRegistration.js"></script>
    </body>
</html>